label{
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-bottom: 10px;
    vertical-align: top;
}
body{
    margin-top: 40px;
    width: 750px;
}
textarea{
    height: 4em;
    width: 20em;
}
.shorttext{
    width: 5em;
}
td{
    vertical-align: top;
}
th{
    max-width: 4em;
}
.tab {
    overflow: hidden;
}
.tabcontent {
    display: none;
}
.box {
    display: flex;
    gap: 20px;
}

.separator {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 5px 10px 15px 0; /* top right bottom left */
}

.tooltip {
  position: relative;
  top: 0px;      /* distance from the top of the box */
  left: 450px;    /* distance from the right of the box */
  cursor: pointer;
  border-bottom: 1px dotted black;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 6px;
  border-radius: 6px;

  position: absolute;
  top: 20px;   /* show below the "Help" text */
  left: 0;    /* align tooltip with the right edge */
  z-index: 1000;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}